{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Asian</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href={% static 'style.css' %} /> 
    <link rel="icon" href={% static 'src/logo.webp' %}  />
    <script src={% static 'script.js' %}></script>
</head>
<body>
  <body>
    <div class="container_nav fixed-top">
      <div class="navbar_con">
        <ul>
          <li>
            <a href="/">
              <img src="{% static 'src/logo.webp' %}" width="100px" />
            </a>
          </li>
          <li>
            <ul class="menu_side">
              <li>
                <a href="/">
                  <p>Home</p>
                </a>
              </li>

              <li>
                <a href="menchoose">
                  <p>Men</p>
                </a>
              </li>
              <li>
                <a href="women">
                  <p>Women</p>
                </a>
              </li>
              <li>
                <a href="kid">
                  <p>Kids</p>
                </a>
              </li>
              <li>
                <a href="arrivals">
                  <p>New Arrivals</p>
                </a>
              </li>
              <li>
                <a href="order">
                  <p>My Orders</p>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <ul class="other">
              <li>
                  <div class="dropdown">
                    <button type="button"  class="dropdown-toggle" data-bs-toggle="dropdown">
                      <i class="fa-solid fa-circle-user"></i>
                    </button>
                    <ul class="dropdown-menu">
                      {% if not user %}
                      <li><a class="dropdown-item" href="login">Log In</a></li>
                      <li><a class="dropdown-item" href="signup">Create Account</a></li>
                      {% endif %}
                      {% if user %}
                      <li><a class="dropdown-item" href="logout">{{userdetail.username}}</a>
                      <li><a class="dropdown-item" href="logout">Logout</a></li>
                      {% endif %}
                      
                    </ul>
                  </div>
              
              </li>

              <li>
                <div class="offcanvas offcanvas-top" id="demo">
                  
                  <div class="offcanvas-body">
                    <input type="text" placeholder="Search" class="search" />
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                  </div>
                </div>

                <div class="container-fluid mt-3">
                  <button
                    class="btn"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#demo"
                  >
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </li>

              <li>
                <div class="offcanvas offcanvas-end" id="demos">
                  <div class="offcanvas-body">
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="offcanvas"
                    ></button>
                  </div>
                </div>

                <div class="container-fluid mt-3">
                  <button
                    class="btn"
                    id="cartitem"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#demos"
                  >
                    <i class="fa-solid fa-bag-shopping"></i>
                  </button>
                </div>
              </li>

              <li >
                <div class="offcanvas offcanvas-start" id="demoss">
                  <div class="offcanvas-header">
                    <h1 class="offcanvas-title">Menu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div class="m">
                      <a href="menchoose"><p style="font-size: larger;">Men</p></a>
                      <a href="women"><p style="font-size: larger;">Women</p></a>
                      <a href="kid"><p style="font-size: larger;">Kids</p></a>
                      <a href="arrivals"><p style="font-size: larger;">New Arrivals</p></a>
                      <a href=""><p style="font-size: larger;">My Order</p></a>
                      
                    </div>

                    <div class="log">
                        <Button>

                        </Button>
                    </div>
                  </div>
                </div>

                <div class="container-fluid mt-3">
                  <button class="btn" id="navitem" type="button" data-bs-toggle="offcanvas" data-bs-target="#demoss"> 
                  <i class="fa-solid fa-bars"></i>
                  </button>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>


    <div class="s_container" >
        <p class="same_sty">Privacy policy</p>
        <div class="policy_d">
            <p class="first">This Privacy Policy describes how www.asianfootwears.com (the “Site” or “we”) collects, uses, and discloses your Personal Information when you visit or make a purchase from the Site.</p>
            <p class="second">Contact</p>
            <p class="first">After reviewing this policy, if you have additional questions, want more information about our privacy practices, or would like to make a complaint, please contact us by e-mail at info@asianfootwears.com or by mail using the details provided below:</p>
            <p class="first">Asian Footwears Private Limited, J-20, Udyoga Nagar, Peeragarhi, 110041 Delhi DL, India</p>
            <p class="second">Collecting Personal Information</p>
            <p class="first">When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information about an identifiable individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why.</p>
            <div class="lists">
                <p class="heads">Device information:</p>
                <p class="ot">
                    <b>Purpose of collection:</b>  to load the Site accurately for you, and to perform analytics on Site usage to optimize our Site.
                </p>
                <p class="ot">
                    <b>Source of collection:</b>   Collected automatically when you access our Site using cookies, log files, web beacons, tags, or pixels
                </p>
                <p class="ot">
                    <b>Disclosure for a business purpose:</b>  shared with our processor Shopify
                </p>
            </div>

            <div class="lists">
                <p class="heads">Order information</p>
                <p class="ot">
                    <b>Purpose of collection:</b>  to provide products or services to you to fulfill our contract, to process your payment information, arrange for shipping, and provide you with invoices and/or order confirmations, communicate with you, screen our orders for potential risk or fraud, and when in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.
                </p>

                <p class="ot">
                    <b>Disclosure for a business purpose:</b>   shared with our processor Shopify
                </p>

                <p class="ot">
                    <b>Personal Information collected:</b>   name, billing address, shipping address, payment information (including credit card numbers), email address, and phone number.
                </p>
            </div>

            <div class="lists">
                <p class="heads">Asian Salestrack App:</p>
                <p class="ot">
                    <b>Purpose of collection:</b> to mark attendance and increase the efficiency of the sales team by providing the best route possible on their beat. This also helps to identify the efficiency of the salesperson and helps them monitor their progress
                </p>
                <p class="ot">
                    <b>Source of collection:</b>  The data is saved at Asian's server and is not shared with any third party or is being used for advertisement in any case. The sole purpose of the data collection is to increase the efficiency of the sales team.
                </p>
            </div>

            <div class="second">Using Personal Information</div>
            <div class="first">We use your personal Information to provide our services to you, which includes: offering products for sale, processing payments, shipping and fulfillment of your order, and keeping you up to date on new products, services, and offers.</div>
            <div class="second">Cookies</div>
            <div class="first">A cookie is a small amount of information that’s downloaded to your computer or device when you visit our Site. We use a number of different cookies, including functional, performance, advertising, and social media or content cookies. Cookies make your browsing experience better by allowing the website to remember your actions and preferences (such as login and region selection). This means you don’t have to re-enter this information each time you return to the site or browse from one page to another. Cookies also provide information on how people use the website, for instance whether it’s their first time visiting or if they are a frequent visitor.

            </div>
        </div>
    </div>

    <div class="About">
        <div class="details">
            <div class="about_us">
                <div class="us">
                    <h2>About Us</h2>
                    <h5>Asian is one of the fastest growing and the most loved footwear brands in India. Check out our incredible range and become an AsianRider today</h5>
                    <h5>
                        <a href="mailto:info@asianfootwears.com">
                            <h5>email: info@asianfootwears.com</h5>
                        </a>
                    </h5>
                    <h5>
                        <a href="tel:7561000092">
                        <h5>phone: 7561000092</h5>
                        </a>
                    </h5>
                    <h5>
                        <a href="https://www.facebook.com/Asianfootwears">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                       <a href="https://www.instagram.com/asianfootwears/">
                        <i class="fa-brands fa-instagram"></i>
                       </a>
                    </h5>
                </div>
            </div>

            <div class="uick">
                <h2>Quick Links</h2>
                <a href="privacy" class="quick">
                    <p>Privacy Policy</p>
                </a>
                <a href="refund" class="quick">
                    <p>Refund Policy</p>
                </a>
                <a href="term" class="quick">
                    <p>Terms of Service</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>