{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{dataarr.0.shoesname}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href={% static 'style.css' %} /> 
    <link rel="icon" href={% static 'src/logo.webp' %}  />
    <script src={% static 'script.js' %}></script>
</head>
<style>

  .sh{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }

  .dh{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
  }

  .dh input{
    border-radius: 10px;
    height: 35px;
    text-align: center;
    width: 70%;
  }

  .bn{
    margin-left: 24%;
    width: 50%;
    height: 45px;
    font-size: 23px;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
  }
</style>
<body>
<div class="container_nav fixed-top">
    <div class="navbar_con">
      <ul>
        <li>
          <a href="/">
            <img src="{% static 'src/logo.webp' %}" width="100px" />
          </a>
        </li>
        <li>
          <ul class="menu_side">
            <li>
              <a href="/">
                <p>Home</p>
              </a>
            </li>

            <li>
              <a href="menchoose">
                <p>Men</p>
              </a>
            </li>
            <li>
              <a href="women">
                <p>Women</p>
              </a>
            </li>
            <li>
              <a href="kid">
                <p>Kids</p>
              </a>
            </li>
            <li>
              <a href="arrivals">
                <p>New Arrivals</p>
              </a>
            </li>
            <li>
              <a href="/order">
                <p>My Orders</p>
              </a>
            </li>
          </ul> 
        </li>

        <li>
          <ul class="other">
            <li>
              <a href="">
                <span id="name_login">Vivek</span>
                <i class="fa-solid fa-circle-user"></i>
              </a>
            </li>

            <li>
              <div class="offcanvas offcanvas-top" id="demo">
                <div class="offcanvas-body">
                  <input type="text" placeholder="Search" class="search" />
                  <button class="sea">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                  <button
                    type="button"
                    class="btn-close"
                    id="searchclose"
                    data-bs-dismiss="offcanvas"
                  ></button>
                </div>
              </div>

              <div class="container-fluid mt-3">
                <button
                  class="btn"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#demo"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            </li>
            <li>
              <div class="offcanvas offcanvas-end" id="demos">
                <div class="offcanvas-body">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                  ></button>
                </div>
              </div>

              <div class="container-fluid mt-3">
                <button
                  class="btn"
                  id="cartitem"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#demos"
                >
                  <i class="fa-solid fa-bag-shopping"></i>
                </button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>

    <div class="buy_product">
      
      <div class="product">
            <div class="img_product">
                <img src="{%static '' %}{{dataarr.0.imgs}}">
            </div>
            <div class="produt_details">
                <div class="pro">
                    <p class="shoe_name">{{dataarr.0.shoesname}}</p>
                    <div class="paise">
                        <p class="money">{{dataarr.0.price}}</p>
                        <p>inclusive of all taxes</p>
                    </div>
                    <div class="buttons">
                        <label class="se">Choose Size: </label>
                        
                        <div class="size_butt">
                            <button class="size" onclick="shoeSize=5;document.getElementById('sSize').innerHTML = 5">5</button>
                            <button class="size" onclick="shoeSize=6;document.getElementById('sSize').innerHTML = 6">6</button>
                            <button class="size" onclick="shoeSize=7;document.getElementById('sSize').innerHTML = 7">7</button>
                            <button class="size" onclick="shoeSize=8;document.getElementById('sSize').innerHTML = 8">8</button>
                            <button class="size" onclick="shoeSize=9;document.getElementById('sSize').innerHTML = 9">9</button>
                            <button class="size" onclick="shoeSize=10;document.getElementById('sSize').innerHTML = 10">10</button>
                        </div>
                    </div>
                    <div class="quantity">
                        <label class="se">Add Quantity:</label>
                        
                           
                        <div class="add_q">
                            <button class="dec">-</button>
                            <p class="put">0</p>
                           <button class="inc">+</button> 
                        </div>
                    </div>
                    <button class="cart">Add To Cart</button>
                    <button type="button" class="btn"  data-bs-toggle="modal" data-bs-target="#myModal"   style="background-color: black;color:white;width:100%;height:50px;border-radius: 10px;font-size: x-large;font-family: Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif">
                      Buy
                    </button>
                    
                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Asian</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                            <div class="det">
                              <p>
                                <span class="sh">Shoes Name: </span>
                                <span class="dh">{{dataarr.0.shoesname}}<span>
                                </p>

                              <p>
                                <span class="sh">Price: </span>
                                <span class="dh">{{dataarr.0.price}}<span>
                                </p>

                              <p>
                                <span class="sh">Shoes Size: </span>
                                <span class="dh" id="sSize">5<span>
                                </p>
                                
                              <p>
                                <span class="sh">Quantity: </span>
                                <span class="dh" id="sQty">1<span>
                                </p>

                              <p>
                                <span class="sh">State: </span>
                                <span class="dh"><input required type="text" placeholder="State" id="states"><span>
                                </p>

                              <p>
                                <span class="sh">City: </span>
                                <span class="dh"><input required type="text" placeholder="City" id="city"><span>
                                </p>
                              
                              <p>
                                  <span class="sh">Pin code: </span>
                                  <span class="dh"><input required type="text" placeholder="Pin code" id="pin"><span>
                              </p>

                              <p>
                                <span class="sh">Address: </span>
                                <span class="dh"><input required type="text" placeholder="Address" id="address"><span>
                            </p>

                              <p>
                                <button onclick="buyorder()" class="bn">Buy</button>
                              </p>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>



                    
                </div>
            </div>
        </div>
      </div>
      

      
    <div class="returns">
        <div class="seven">
            <img src="{% static "/src/o.webp" %}">
            <span>7 Days Return</span>
        </div>
        <div class="need">
            <p>Need not worry if you have an issue with the size, color or a manufacturing defect, we offer a 7 day free product replacement.</p>
            <a href="/htmlfile/refund.html">
                <p>View Return / Replacement Policy</p>
            </a>
            <p>Maximize your athletic performance with ASIAN Men's FORTUNER-PRO-01 Running Sports Shoe. Designed for sports, running, gym, and workout activities, these shoes provide the support and comfort you need to excel. With their high-quality materials and construction, you can trust in their performance and durability.</p>
            <p>Manufacturer/Packer:<b>  Asian Footwears Pvt. Ltd. Udyog Nagar, Delhi 110041</b></p>

        </div>
    </div>

    <div class="img_se">
        <img src="{% static "/src/one.webp" %}">
        <img src="{% static "/src/two.webp" %}">
        <img src="{% static "/src/thre.webp" %}">
        <img src="{% static "/src/for.webp" %}">
        <img src="{% static "/src/five.webp" %}">
    </div>

    <!--  -->
<div id="productData" style="opacity:0;">{{dataarr.0.id}}</div>
</body>
</html>

<script>



let shoeSize=5,Quantity = 1;


let dec = document.querySelector('.dec')
let put = document.querySelector('.put') 
let inc = document.querySelector('.inc')
let count = 0

dec.addEventListener('click',()=>{
    if (count > 0) {
        count -= 1;
        put.innerHTML = count;
        document.getElementById('sQty').innerHTML = count
    }
})

let bt = document.querySelector('.btn')




inc.addEventListener('click',()=>{
    count += 1
    put.innerHTML = count;
    document.getElementById('sQty').innerHTML = count
})

let size = document.querySelectorAll('.size');
size.forEach((btn)=>{
  btn.addEventListener('click', () => {
    for(i=0;i<size.length;i++){
      size[i].style.backgroundColor = "black"
    }
    btn.style.backgroundColor = "red"
});
})




if(localStorage.length == 0){
  localStorage.setItem("buy",'[]')
}





function buyorder(){
  let orders = JSON.parse(localStorage['buy']);
  let id  = document.getElementById('productData').innerHTML
  let size = document.getElementById('sSize').innerHTML
  let qty = document.getElementById('sQty').innerHTML
  let city = document.getElementById('city').value
  let state = document.getElementById('states').value
  let pin = document.getElementById('pin').value
  let address = document.getElementById('address').value
  o1 = {'id':id,"size":size,'qty':qty,'city':city,'state':state,'pin':pin,'address':address}
  orders.push(o1)
  alert("Thnks for buying")
  
  localStorage['buy'] = JSON.stringify(orders);
}

</script>