{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy - Asian</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href={% static 'style.css' %} /> 
    <link rel="icon" href={% static 'src/logo.webp' %}  />
    <script src={% static 'script.js' %}></script>
</head>
<body>
    <div class="container_nav fixed-top">
        <div class="navbar_con">
          <ul>
            <li>
              <a href="/">
                <img src="{% static 'src/logo.webp' %}" width="100px" />
              </a>
            </li>
            <li>
              <ul class="menu_side">
                <li>
                  <a href="/">
                    <p>Home</p>
                  </a>
                </li>
  
                <li>
                  <a href="menchoose">
                    <p>Men</p>
                  </a>
                </li>
                <li>
                  <a href="women">
                    <p>Women</p>
                  </a>
                </li>
                <li>
                  <a href="kid">
                    <p>Kids</p>
                  </a>
                </li>
                <li>
                  <a href="arrivals">
                    <p>New Arrivals</p>
                  </a>
                </li>
                <li>
                  <a href="order">
                    <p>My Orders</p>
                  </a>
                </li>
              </ul>
            </li>
  
            <li>
              <ul class="other">
                <li>
                  <a href="">
                    <span id="name_login">Vivek</span>
                    <i class="fa-solid fa-circle-user"></i>
                  </a>
                </li>
  
                <li>
                  <div class="offcanvas offcanvas-top" id="demo">
                    <div class="offcanvas-body">
                      <input type="text" placeholder="Search" class="search" />
                      <button class="sea">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      </button>
                      <button
                        type="button"
                        class="btn-close"
                        id="searchclose"
                        data-bs-dismiss="offcanvas"
                      ></button>
                    </div>
                  </div>
  
                  <div class="container-fluid mt-3">
                    <button
                      class="btn"
                      type="button"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#demo"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="offcanvas offcanvas-end" id="demos">
                    <div class="offcanvas-body">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                      ></button>
                    </div>
                  </div>
  
                  <div class="container-fluid mt-3">
                    <button
                      class="btn"
                      id="cartitem"
                      type="button"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#demos"
                    >
                      <i class="fa-solid fa-bag-shopping"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
    
    <div class="s_container">
        <p class="same_sty">Refund policy</p>
        <div class="policy_d">
            <p class="first">If you are not satisfied with your order, we want to make it right! Please follow the instructions below so we can process your request as quickly as possible.</p>
            <p class="first">Asian will gladly accept returns for merchandise purchased through asianfootwears.com that meet the following conditions:</p>
            <p class="first">Merchandise must be returned in its original unworn condition and received WITHIN 7 DAYS OF DELIVERY DATE. Orders returned beyond this time period will not be accepted. Asian Shoes reserves the right to refuse worn or damaged merchandise.</p>
            <p class="first">Please ensure that the tag attached to the product is safely in place. Pack the merchandise in its original packaging or appropriate carton.</p>
            <p class="first">A refund would take place within 2-3 business days post receipt of the products back at our warehouse. Careful monitoring of the returned products takes place to ensure that the shoes are unworn and intact. Subject to discretion is with "Asian Footwears Pvt. Ltd."</p>
        </div>
    </div>

    <div class="About">
        <div class="details">
            <div class="about_us">
                <div class="us">
                    <h2>About Us</h2>
                    <h5>Asian is one of the fastest growing and the most loved footwear brands in India. Check out our incredible range and become an AsianRider today</h5>
                    <h5>
                        <a href="mailto:info@asianfootwears.com">
                            <h5>email: info@asianfootwears.com</h5>
                        </a>
                    </h5>
                    <h5>
                        <a href="tel:7561000092">
                        <h5>phone: 7561000092</h5>
                        </a>
                    </h5>
                    <h5>
                        <a href="https://www.facebook.com/Asianfootwears">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                       <a href="https://www.instagram.com/asianfootwears/">
                        <i class="fa-brands fa-instagram"></i>
                       </a>
                    </h5>
                </div>
            </div>

            <div class="uick">
                <h2>Quick Links</h2>
                <a href="privacy" class="quick">
                    <p>Privacy Policy</p>
                </a>
                <a href="refund" class="quick">
                    <p>Refund Policy</p>
                </a>
                <a href="term" class="quick">
                    <p>Terms of Service</p>
                </a>
            </div>
        
        </div>
    </div>
</body>
</html>